.container {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--fondo-secundario);
  color: var(--color-inactivo);
}

.fondo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}

.descripcion {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-inactivo);
}

.video {
  width: 600px;
  border-radius: 15px;
  box-shadow: 0px 0px 0.75rem 0.25rem var(--color-activo);
}

.category {
  height: 70px;
  color: var(--color-inactivo);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
